/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #f8f9fa;
    border-right: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
    background: #ffcb05;
    color: #fff;
}

/* Sidebar Footer */
.sidebar-footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding: 10px 0;
    background: #f8f9fa;
    border-top: 1px solid #e1e1e1;
}

.sidebar-footer a {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar-footer a:hover {
    color: #ffcb05;
}

/* Content Section */
.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
}

.search-bar {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Category Section */
.category-section {
    margin-top: 20px;
}

.category-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.category img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.category p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.view-all {
    margin-top: 20px;
    display: inline-block;
    color: #ffcb05;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.view-all:hover {
    color: #ff9900;
}

.category a{
    text-decoration: none;
    color: black;
    font-size: medium; 
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        padding: 10px;
    }

    .header h1 {
        font-size: 20px;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .categories {
        justify-content: center;
    }

    .category {
        width: 80px;
    }

    .category img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .categories {
        gap: 15px;
    }

    .category {
        width: 60px;
    }

    .category img {
        width: 40px;
        height: 40px;
    }

    .view-all {
        font-size: 14px;
    }
}
