body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: #333;
    font-weight: 500;
    border-radius: 4px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background: #ffcb05;
    color: #fff;
}

.sidebar-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.sidebar-footer a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar-footer a:hover {
    color: #ffcb05;
}
/* Content Styles */
.content a{
  text-decoration: none;
  color: black;
}
.content {
    width: 240px;
    background: #f8f9fa;
    align-items: center;
    border-right: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 10px 0;
     flex: 1; 
     /*
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* background-color: #333; */
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-bar {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
}

/* Menu Styles */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.menu-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    background: #f1ebd5;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.menu-button:hover {
    background: #ffcb05;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
